@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Old Standard TT", serif;
  --font-mono: "Source Code Pro", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: "Old Standard TT", serif;
  --radius: 0.125rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.125rem;
  --background: oklch(0.9568 0.0119 79.7842);
  --foreground: oklch(0.3112 0.0257 64.1716);
  --card: oklch(0.9087 0.0231 84.5928);
  --card-foreground: oklch(0.3112 0.0257 64.1716);
  --popover: oklch(0.9087 0.0231 84.5928);
  --popover-foreground: oklch(0.3112 0.0257 64.1716);
  --primary: oklch(0.4892 0.0960 45.8660);
  --primary-foreground: oklch(0.9568 0.0119 79.7842);
  --secondary: oklch(0.7343 0.0218 81.7627);
  --secondary-foreground: oklch(0.3112 0.0257 64.1716);
  --muted: oklch(0.8597 0.0234 84.5932);
  --muted-foreground: oklch(0.5480 0.0240 71.9177);
  --accent: oklch(0.5740 0.1046 64.1552);
  --accent-foreground: oklch(0.9568 0.0119 79.7842);
  --destructive: oklch(0.4893 0.1337 23.4265);
  --border: oklch(0.6425 0.0251 84.5858);
  --input: oklch(0.7864 0.0249 79.7129);
  --ring: oklch(0.4892 0.0960 45.8660);
  --chart-1: oklch(0.5740 0.1046 64.1552);
  --chart-2: oklch(0.4892 0.0960 45.8660);
  --chart-3: oklch(0.5460 0.0809 134.6794);
  --chart-4: oklch(0.5187 0.0643 247.6721);
  --chart-5: oklch(0.7244 0.0624 71.5305);
  --sidebar: oklch(0.8349 0.0236 84.5932);
  --sidebar-foreground: oklch(0.3757 0.0237 67.0001);
  --sidebar-primary: oklch(0.4892 0.0960 45.8660);
  --sidebar-primary-foreground: oklch(0.9568 0.0119 79.7842);
  --sidebar-accent: oklch(0.5740 0.1046 64.1552);
  --sidebar-accent-foreground: oklch(0.3757 0.0237 67.0001);
  --sidebar-border: oklch(0.6425 0.0251 84.5858);
  --sidebar-ring: oklch(0.4892 0.0960 45.8660);
  --destructive-foreground: oklch(0.9568 0.0119 79.7842);
  --font-sans: "Old Standard TT", serif;
  --font-serif: "Old Standard TT", serif;
  --font-mono: "Source Code Pro", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 0.375rem;
  --shadow-spread: 0.05rem;
  --shadow-offset-x: 0.1rem;
  --shadow-offset-y: 0.1rem;
  --letter-spacing: 0.02em;
  --spacing: 0.25rem;
  --shadow-2xs: 0.1rem 0.1rem 0.375rem 0.05rem hsl(0 0% 0% / 0.10);
  --shadow-xs: 0.1rem 0.1rem 0.375rem 0.05rem hsl(0 0% 0% / 0.10);
  --shadow-sm: 0.1rem 0.1rem 0.375rem 0.05rem hsl(0 0% 0% / 0.20), 0.1rem 1px 2px -0.95px hsl(0 0% 0% / 0.20);
  --shadow: 0.1rem 0.1rem 0.375rem 0.05rem hsl(0 0% 0% / 0.20), 0.1rem 1px 2px -0.95px hsl(0 0% 0% / 0.20);
  --shadow-md: 0.1rem 0.1rem 0.375rem 0.05rem hsl(0 0% 0% / 0.20), 0.1rem 2px 4px -0.95px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0.1rem 0.1rem 0.375rem 0.05rem hsl(0 0% 0% / 0.20), 0.1rem 4px 6px -0.95px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0.1rem 0.1rem 0.375rem 0.05rem hsl(0 0% 0% / 0.20), 0.1rem 8px 10px -0.95px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0.1rem 0.1rem 0.375rem 0.05rem hsl(0 0% 0% / 0.50);
  --tracking-normal: 0.02em;
}

.dark {
  --background: oklch(0.2588 0.0176 63.1170);
  --foreground: oklch(0.8853 0.0185 78.2328);
  --card: oklch(0.3175 0.0200 60.6498);
  --card-foreground: oklch(0.8853 0.0185 78.2328);
  --popover: oklch(0.3175 0.0200 60.6498);
  --popover-foreground: oklch(0.8853 0.0185 78.2328);
  --primary: oklch(0.6308 0.0949 56.7151);
  --primary-foreground: oklch(0.2588 0.0176 63.1170);
  --secondary: oklch(0.4926 0.0222 67.2731);
  --secondary-foreground: oklch(0.8853 0.0185 78.2328);
  --muted: oklch(0.3792 0.0192 60.8479);
  --muted-foreground: oklch(0.6630 0.0300 67.2709);
  --accent: oklch(0.7145 0.1130 68.4646);
  --accent-foreground: oklch(0.2588 0.0176 63.1170);
  --destructive: oklch(0.5995 0.1313 21.7972);
  --border: oklch(0.4999 0.0321 66.9819);
  --input: oklch(0.3792 0.0192 60.8479);
  --ring: oklch(0.6308 0.0949 56.7151);
  --chart-1: oklch(0.7145 0.1130 68.4646);
  --chart-2: oklch(0.6308 0.0949 56.7151);
  --chart-3: oklch(0.6595 0.0838 135.7503);
  --chart-4: oklch(0.6383 0.0603 240.1030);
  --chart-5: oklch(0.7837 0.0692 65.0729);
  --sidebar: oklch(0.2856 0.0206 60.5002);
  --sidebar-foreground: oklch(0.8597 0.0234 84.5932);
  --sidebar-primary: oklch(0.6308 0.0949 56.7151);
  --sidebar-primary-foreground: oklch(0.2588 0.0176 63.1170);
  --sidebar-accent: oklch(0.7145 0.1130 68.4646);
  --sidebar-accent-foreground: oklch(0.8597 0.0234 84.5932);
  --sidebar-border: oklch(0.4999 0.0321 66.9819);
  --sidebar-ring: oklch(0.6308 0.0949 56.7151);
  --destructive-foreground: oklch(0.2588 0.0176 63.1170);
  --radius: 0.125rem;
  --font-sans: "Old Standard TT", serif;
  --font-serif: "Old Standard TT", serif;
  --font-mono: "Source Code Pro", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.45;
  --shadow-blur: 0.625rem;
  --shadow-spread: 0.075rem;
  --shadow-offset-x: 0.15rem;
  --shadow-offset-y: 0.15rem;
  --letter-spacing: 0.02em;
  --spacing: 0.25rem;
  --shadow-2xs: 0.15rem 0.15rem 0.625rem 0.075rem hsl(0 0% 0% / 0.23);
  --shadow-xs: 0.15rem 0.15rem 0.625rem 0.075rem hsl(0 0% 0% / 0.23);
  --shadow-sm: 0.15rem 0.15rem 0.625rem 0.075rem hsl(0 0% 0% / 0.45), 0.15rem 1px 2px -0.925px hsl(0 0% 0% / 0.45);
  --shadow: 0.15rem 0.15rem 0.625rem 0.075rem hsl(0 0% 0% / 0.45), 0.15rem 1px 2px -0.925px hsl(0 0% 0% / 0.45);
  --shadow-md: 0.15rem 0.15rem 0.625rem 0.075rem hsl(0 0% 0% / 0.45), 0.15rem 2px 4px -0.925px hsl(0 0% 0% / 0.45);
  --shadow-lg: 0.15rem 0.15rem 0.625rem 0.075rem hsl(0 0% 0% / 0.45), 0.15rem 4px 6px -0.925px hsl(0 0% 0% / 0.45);
  --shadow-xl: 0.15rem 0.15rem 0.625rem 0.075rem hsl(0 0% 0% / 0.45), 0.15rem 8px 10px -0.925px hsl(0 0% 0% / 0.45);
  --shadow-2xl: 0.15rem 0.15rem 0.625rem 0.075rem hsl(0 0% 0% / 1.13);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}