@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Courier New", Courier, monospace;
  --font-mono: "Courier New", Courier, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: Georgia, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.25rem;
  --background: oklch(0.9632 0.0044 67.7720);
  --foreground: oklch(0.1405 0.0044 285.8238);
  --card: oklch(0.9266 0.0110 67.6900);
  --card-foreground: oklch(0.1405 0.0044 285.8238);
  --popover: oklch(0.9632 0.0044 67.7720);
  --popover-foreground: oklch(0.1405 0.0044 285.8238);
  --primary: oklch(0.2103 0.0059 285.8835);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.8875 0.0100 67.6967);
  --secondary-foreground: oklch(0.2103 0.0059 285.8835);
  --muted: oklch(0.8478 0.0090 67.7042);
  --muted-foreground: oklch(0.5519 0.0137 285.9422);
  --accent: oklch(0.8875 0.0100 67.6967);
  --accent-foreground: oklch(0.2103 0.0059 285.8835);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --border: oklch(0.8106 0.0171 67.5833);
  --input: oklch(0.8106 0.0171 67.5833);
  --ring: oklch(0.1405 0.0044 285.8238);
  --chart-1: oklch(0.8314 0.1385 192.9377);
  --chart-2: oklch(0.6301 0.2107 357.8236);
  --chart-3: oklch(0.6261 0.1859 259.5957);
  --chart-4: oklch(0.6406 0.1996 307.0231);
  --chart-5: oklch(0.7991 0.1411 70.3123);
  --sidebar: oklch(0.9118 0.0133 67.6596);
  --sidebar-foreground: oklch(0.1405 0.0044 285.8238);
  --sidebar-primary: oklch(0.2103 0.0059 285.8835);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.8492 0.0135 67.6440);
  --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8835);
  --sidebar-border: oklch(0.8106 0.0171 67.5833);
  --sidebar-ring: oklch(0.1405 0.0044 285.8238);
  --destructive-foreground: oklch(0.9848 0 0);
  --font-sans: "Courier New", Courier, monospace;
  --font-serif: Georgia, serif;
  --font-mono: "Courier New", Courier, monospace;
  --shadow-color: hsl(240, 3.8%, 46.1%);
  --shadow-opacity: 0.15;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0.1rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.3rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.3rem 0.75rem 0.1rem hsl(240 3.8000% 46.1000% / 0.07);
  --shadow-xs: 0rem 0.3rem 0.75rem 0.1rem hsl(240 3.8000% 46.1000% / 0.07);
  --shadow-sm: 0rem 0.3rem 0.75rem 0.1rem hsl(240 3.8000% 46.1000% / 0.15), 0rem 1px 2px -0.9px hsl(240 3.8000% 46.1000% / 0.15);
  --shadow: 0rem 0.3rem 0.75rem 0.1rem hsl(240 3.8000% 46.1000% / 0.15), 0rem 1px 2px -0.9px hsl(240 3.8000% 46.1000% / 0.15);
  --shadow-md: 0rem 0.3rem 0.75rem 0.1rem hsl(240 3.8000% 46.1000% / 0.15), 0rem 2px 4px -0.9px hsl(240 3.8000% 46.1000% / 0.15);
  --shadow-lg: 0rem 0.3rem 0.75rem 0.1rem hsl(240 3.8000% 46.1000% / 0.15), 0rem 4px 6px -0.9px hsl(240 3.8000% 46.1000% / 0.15);
  --shadow-xl: 0rem 0.3rem 0.75rem 0.1rem hsl(240 3.8000% 46.1000% / 0.15), 0rem 8px 10px -0.9px hsl(240 3.8000% 46.1000% / 0.15);
  --shadow-2xl: 0rem 0.3rem 0.75rem 0.1rem hsl(240 3.8000% 46.1000% / 0.38);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.1405 0.0044 285.8238);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1405 0.0044 285.8238);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1405 0.0044 285.8238);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.9848 0 0);
  --primary-foreground: oklch(0.2103 0.0059 285.8835);
  --secondary: oklch(0.2741 0.0055 286.0329);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2741 0.0055 286.0329);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.2741 0.0055 286.0329);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --border: oklch(0.2741 0.0055 286.0329);
  --input: oklch(0.2741 0.0055 286.0329);
  --ring: oklch(0.8709 0.0055 286.2853);
  --chart-1: oklch(0.8314 0.1385 192.9377);
  --chart-2: oklch(0.6301 0.2107 357.8236);
  --chart-3: oklch(0.6261 0.1859 259.5957);
  --chart-4: oklch(0.6406 0.1996 307.0231);
  --chart-5: oklch(0.7991 0.1411 70.3123);
  --sidebar: oklch(0.2103 0.0059 285.8835);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.9848 0 0);
  --sidebar-primary-foreground: oklch(0.2103 0.0059 285.8835);
  --sidebar-accent: oklch(0.2741 0.0055 286.0329);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.2741 0.0055 286.0329);
  --sidebar-ring: oklch(0.8709 0.0055 286.2853);
  --destructive-foreground: oklch(0.9848 0 0);
  --radius: 0.5rem;
  --font-sans: "Courier New", Courier, monospace;
  --font-serif: Georgia, serif;
  --font-mono: "Courier New", Courier, monospace;
  --shadow-color: hsl(240, 3.8%, 46.1%);
  --shadow-opacity: 0.1;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.5rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.5rem 1rem 0rem hsl(240 3.8000% 46.1000% / 0.05);
  --shadow-xs: 0rem 0.5rem 1rem 0rem hsl(240 3.8000% 46.1000% / 0.05);
  --shadow-sm: 0rem 0.5rem 1rem 0rem hsl(240 3.8000% 46.1000% / 0.10), 0rem 1px 2px -1px hsl(240 3.8000% 46.1000% / 0.10);
  --shadow: 0rem 0.5rem 1rem 0rem hsl(240 3.8000% 46.1000% / 0.10), 0rem 1px 2px -1px hsl(240 3.8000% 46.1000% / 0.10);
  --shadow-md: 0rem 0.5rem 1rem 0rem hsl(240 3.8000% 46.1000% / 0.10), 0rem 2px 4px -1px hsl(240 3.8000% 46.1000% / 0.10);
  --shadow-lg: 0rem 0.5rem 1rem 0rem hsl(240 3.8000% 46.1000% / 0.10), 0rem 4px 6px -1px hsl(240 3.8000% 46.1000% / 0.10);
  --shadow-xl: 0rem 0.5rem 1rem 0rem hsl(240 3.8000% 46.1000% / 0.10), 0rem 8px 10px -1px hsl(240 3.8000% 46.1000% / 0.10);
  --shadow-2xl: 0rem 0.5rem 1rem 0rem hsl(240 3.8000% 46.1000% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}